<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    <script src="/script.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <title>Polyvotes</title>
  </head>
  <body>
    <center>
      <div id="poll-title"></div>
      <div id="poll-container">
        <div id="option1-container">
          <div id="option1-value"></div>
          <div id="option1-bar"></div>
        </div>
        <div id="option2-container">
          <div id="option2-value"></div>
          <div id="option2-bar"></div>
        </div>
      </div>
    </center>
  </body>
</html>
